
@import url("css//home.css");
@import url("css//navbar.css");
@import url("css//footer.css");
@import url("css//faqs.css");
@import url("css//about.css");
@import url("css//lessons.css");
@import url("css//photos.css");
@import url("css//notlar.css");
@import url("css//contcats.css");
body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


